* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    font-family: fantasy;
}

nav {
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: purple;
    font-size: 50px;
}

.menu_albums {
    margin-top: 30px;
    margin-bottom: 40px;
}

img {
    width: 400px;
    height: 300px;
    border-radius: 7px;
    border: 3px solid yellow;
    transition: 0.4s;
    margin-bottom: 30px;
    margin: 20px;
}

a {
    text-decoration: none;
    color: yellow;
    margin: 30px;
    font-size: large;
}

img:hover {
    width: 460px;
    height: 360px;
    cursor: pointer;
}

main {
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
}

form {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.title {
    text-align: center;
    margin-top: 20px;
    color: purple;
    font-size: 50px;
}

.outils {
    text-align: right;
    margin-right: 20%;
}

.user {
    margin-left: 100px;
    color: white;
    text-shadow: -2px -2px 0 cyan, 2px 2px 0 magenta;
    ;
}

#actif {
    border-bottom: 3px solid purple;
}

i {
    color: yellow
}